/* card */
.root {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
   gap: 55px;
}

.card {
    /* display: flex; */
    width: 20%;
    height: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.605); 
    border-radius: 8px;
    /* padding: 20px;  */
}



#card__img {
    margin-left: 65px;
    margin-top: 5px;
}

.text__card {
    border-radius: 5px;
    height: 187px;
}

#name__card, #price__card {
    color: whitesmoke;
    margin-left: 57px;
    margin-top: 50px;
}